body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration:
        none;
}
.page-header {}

.header-nav {}

header-logo .logo-part {
    color: #2e2f42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #2e2f42;}

.nav-list {}

.nav-item {}

.nav-link {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
color: #404bbf;
}
.address {
    
}

.contacts-list {}

.contacts-item {}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}
.hero {
    background-color: #2e2f42;
}

.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.hero-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}
.undertitle {}

.undertitle-subject {}

.undertitle-list {}

.undertitle-item {}

.undertitle-subtitle, .team-subtitle, .portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.undertitle-text, .team-text, .portfolio-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.team {}

.team-title, .portfolio-title {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list {}

.team-item {}

.team-img {}

.team-subtitle {

}

.team-text {

}
.portfolio-title {}

.portfolio-list {}

.portfolio-item {}

.portfolio-img {}

.portfolio-subtitle {}

.portfolio-text {}

.page-footer{
background-color: #2e2f42;
}
.footer-logo .logo-part{
    color: #f4f4fd;
}
.footer-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}