.body {
    font-family: 'Roboto', sans-serif;
        color: #434455;
        background-color: #FFFFFF;
        font-size: 16px;
}

.header-logo-light {
color: #4d5ae5;
}

.logo {
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
}

.header-logo-dark {
    color: #2e2f42
}

.header-nav-item, .contact {
    color: #2e2f42;
        font-weight: 500;
}

.contact {}

.hero {}

.hero-title {
color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    background-color: #2e2f42;
}

.hero-btn {
    color: #ffffff;
        font-weight: 500;
        background-color: #4d5ae5;
}

.undertitle {
    background-color: #2e2f42;
}

.undertitle-subject {
    color: #2e2f42;
        font-size:20px;
        font-weight: 500;
}

.undertitle-list {}

.undertitle-item {
    color: #434455;
        font-weight: 400;
}

.undertitle-subtitle {}

.undertitle-text {}

.team {}

.team-title, .portfolio-title {
    color: #2e2f42;
        font-size: 36px;
        font-weight: 700;
}

.team-list {}

.team-item {
    color: #434455;
        font-weight: 400;
}

.team-img {}

.team-subtitle, .portfolio-subtitle {
    color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
}

.team-text, .portfolio-text {
color: #434455;
    font-weight: 400;
}

.portfolio-title {}


.portfolio-list {}

.portfolio-item {}

.portfolio-img {}

.portfolio-subtitle {
}

.portfolio-text {
}

.footer-logo {
    background: #2e2f42;
        font-family: Raleway;
        font-size:18px;
        font-weight: 700;
}

.footer-logo-dark {
color: #4d5ae5;
}

.footer-logo-light {
color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
        font-weight: 400;
}